{% extends "base.html" %}
{% load static %}
{% block extra_head_main %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
{% endblock %}
{% block content_main %}
  <header>
    <img class="logo" src="{% static 'images/logo1.png' %}" alt="LebPrice Logo">

    <div class="search-bar">
      <input type="text" placeholder="Search products..." />
      <button><i class="fa sharp fa-magnifying-glass" style="color: #f5f0e8;"></i></button>
    </div>

    <div class="header-actions">
      <a href="#" class="cart">🛒 Cart</a>  

      <div class="dropdown-wrapper">
        <a href="#" class="profile">👤 Profile ▾</a>
        <div class="the-dropdown">
          <a href="#">My Account</a>
          <a href="#">Settings</a>
          <a href="{% url 'account_logout' %}" class="bad">Sign Out</a>
        </div>
      </div> <!-- close profile-wrapper -->
    </div> <!-- close header-actions -->
  </header>

  <nav class="categories">
    <a href="#">Home</a>
    <a href="#">Groceries</a>
    <a href="#">Electronics</a>
    <a href="#">Sports</a>
    <a href="#">Stationery</a>
    <a href="#">Fashion</a>
  </nav>

  {% block content %}{% endblock %}

  <footer>
    <p>📍 Beirut, Lebanon | 📧 lebprice.project@gmail.com</p>
  </footer>
{% endblock %}
